@import url(./font.css);
@import url(./lightslider.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*--------Global Classes---------*/
:root {
  --Sansita: "Sansita", cursive;
  --Courgette: "Courgette", cursive;
  --Abel: "Abel", cursive;
  --Livvic: "Livvic", cursive;
  --Poppins: "Poppins", cursive;
  --Averia_Serif_Libre: "Averia_Serif_Libre", cursive;
  --Bangers: "Bangers", cursive;
  --Be_Vietnam: "Be_Vietnam", cursive;
  --Kaushan_Script: "Kaushan_Script", cursive;
  --Special_Elite: "Special_Elite", cursive;
}
.span-nav {
  color: rgb(104, 216, 250);
  font-size: 3rem;
  font-family: var(--Poppins);
  font-weight: 1000;
}
.span-home {
  color: rgb(104, 216, 250);
}
h2 {
  font-size: 2.2rem;
  font-family: var(--Kaushan_Script);
}
.type {
  font-size: 1.2rem;
  font-family: var(--Kaushan_Script);
  color: rgb(247, 130, 130);
}
.verse-h1 {
  font-size: 2.2rem;
  font-family: var(--Special_Elite);
}
.verse-h2 {
  font-size: 1.5rem;
  font-family: var(--Averia_Serif_Libre);
}
.verse-h3 {
  font-size: 1.1rem;
  font-family: var(--Kaushan_Script);
}
.verse-span {
  color: rgb(248, 63, 63);
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about-span {
  font-size: 3.5rem;
  color: rgb(104, 216, 250);
  font-weight: 600;
}
.about-span2 {
  color: rgb(104, 216, 250);
  font-size: 1.5rem;
}

.question-h3 {
  font-size: 1.5rem;
  font-family: var(--Livvic);
}
.question-h2 {
  font-size: 3rem;
  font-family: var(--Kaushan_Script);
  color: rgb(15, 15, 15);
}
.q-p {
  color: rgb(14, 14, 14);
  font-size: 1.1rem;
  font-family: var(--Livvic);
  font-weight: 600;
}
.q-span {
  color: rgb(248, 63, 63);
}
.movies-h2 {
  font-family: var(--Averia_Serif_Libre);
  font-weight: 600;
}
ul {
  list-style-type: none;
}
.movies-h3 {
  font-size: 1.3rem;
  font-family: var(--Livvic);
}
.movies-h4 {
  font-size: 1.2rem;
  font-family: var(--Abel);
}
.movies-h5 {
  font-size: 1rem;
  font-family: var(--Abel);
  font-weight: 100;
}
.icon-a {
  background: rgb(31, 175, 31);
}
.icon-a:hover {
  background: rgba(31, 175, 31, 0.767);
  transition: 0.2s ease-in-out;
}
.icon-b {
  background: rgb(233, 58, 34);
}
.icon-b:hover {
  background: rgba(233, 57, 34, 0.767);
  transition: 0.2s ease-in-out;
}
.icon-c {
  background: rgb(31, 141, 175);
}
.icon-c:hover {
  background: rgba(31, 141, 175, 0.767);
  transition: 0.2s ease-in-out;
}
.contact-title {
  font-size: 3rem;
  font-family: var(--Poppins);
  font-weight: 600;
}
.contact-h2 {
  font-size: 3rem;
  font-family: var(--Poppins);
  font-weight: 600;
}

.c-p {
  font-family: var(--Abel);
}
.copyright-span {
  color: rgb(250, 68, 68);
  font-weight: 600;
}
/*----x----Global Classes------x---*/

/*--------Navigation Bar---------*/
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 3.2px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 2px 0;
  background: rgb(29, 29, 29);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: var(--Be_Vietnam);
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 7rem;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: var(--Special_Elite);
}
.menu-list li a:hover {
  color: rgb(107, 216, 250);
  transition: 0.2s ease-in-out;
}
/*----x----Navigation Bar------x---*/

/*-------Home Page--------*/
.banner {
  height: 100vh;
  background: url("../pexels-shelagh-murphy-1666816.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(233, 232, 232);
  text-align: center;
  position: relative;
  margin: auto;
  z-index: 1;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.589);
}
.banner .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
/*---x----Home Page----x----*/

/*-------Menu Bar-------*/
.icon {
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color: rgb(248, 113, 113);
}
/*-----x--Menu Bar---x----*/

/*-------Verse------*/
.verse {
  background: white;
  width: 100%;
  height: 500%;
  text-align: center;
  padding: 1.5rem;
  color: rgb(19, 18, 18);
}
.verse .verse-text h1,
h2 {
  padding-top: 1rem;
}
.verse .verse-text h2,
h3 {
  padding-top: 0.5rem;
}

/*----x---Verse----x--*/

/*-------About------*/
section {
  padding: 50px 0;
  background: rgba(7, 7, 7, 0.945);
  color: rgb(241, 241, 241);
}
.about {
  font-family: var(--Poppins);
}
.about .about-title {
  text-align: center;
  font-family: var(--Poppins);
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-weight: 100;
  text-decoration: none;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .about-text {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right p {
  text-align: justify;
}
/*----x---About----x--*/

/*---------Question-----------*/
.question {
  width: 100%;
  height: 105vh;
  padding: 30px 0;
  overflow: hidden;
  margin: auto;
  background: rgb(255, 255, 255);
  color: rgb(20, 20, 20);
}
.question .question-title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.question .q-info {
  margin-bottom: 20px;
  padding: 0 2rem;
  margin: 2rem;
}
.question-box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  position: relative;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent 70%, rgba(0, 0, 0, 0.247));
}
.slide-img {
  height: 450px;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.question-overlay {
  padding: 0 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 245, 245);
}
.question-overlay {
  visibility: hidden;
}
.slide-img:hover .question-overlay {
  visibility: visible;
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*----x-----Question-----x------*/

/*---------Movies-----------*/
.movies {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  overflow: hidden;
  margin: auto;
  background: rgb(20, 20, 20);
  color: rgb(243, 240, 240);
}
.movies .movies-title {
  padding: 0 2rem;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.movies-box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  position: relative;
}
.movies-img {
  height: 450px;
}
.movies-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.movies-overlay {
  padding: 12rem 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 253, 0.801);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(10, 10, 10);
}
.movies-overelay h4,
h3 {
  margin-bottom: 0.5rem;
}
.movies-overelay h5,
h4 {
  margin-bottom: 0.5rem;
}
.movies-overlay {
  visibility: hidden;
}
.movies-img:hover .movies-overlay {
  visibility: visible;
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movies-img {
  padding: 1px 10px;
}
/*-----x----Movies------x-----*/

/*------------Contact--------------*/
.contact {
  background: url(/Assets/contact.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100%;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.589);
}
.contact .contact-content {
  max-width: 800px;
  text-align: center;
}
.contact .contact-content h2 {
  font-size: 36px;
  font-weight: 500;
  color: aliceblue;
}
.contact .contact-content p {
  font-weight: 300;
  color: aliceblue;
}
.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.contact-container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-container .contact-info .contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contact-info .contact-box .contact-icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact-container .contact-info .contact-box .contact-icon:hover {
  font-size: 26px;
  transition: 0.1s ease-in-out;
}
.contact-container .contact-info .contact-box .contact-text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 100;
  font-family: var(--Poppins);
}
.contact-container .contact-info .contact-box .contact-text h3 {
  font-weight: 500;
}
.contact-form {
  width: 40%;
  padding: 40px;
  background: white;
  color: rgb(15, 15, 15);
}
.contact-form h2 {
  font-size: 30px;
  color: rgb(19, 19, 19);
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(31, 30, 30);
  outline: none;
  resize: none;
}
.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: gray;
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: transparent;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: rgb(29, 176, 245);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contact-form .input-box input[type="submit"]:hover {
  border: 2px solid rgb(255, 60, 60);
  background: none;
  color: rgb(17, 17, 17);
}
/*------x------Contact-------x-------*/

/*---------footer----------*/
.footer {
  background: white;
  text-align: center;
  width: 100%;
  height: 5vh;
}
.footer p {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--Poppins);
}
/*----x-----footer-----x-----*/

/*----------View Port------------*/
@media (max-width: 925px) {
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    background: rgb(22, 22, 22);
    padding-top: 30px;
    text-align: center;
    display: inline-block;
    transition: 0.6s ease-in-out;
  }
  .navbar .menu-list.active {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 7rem;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin: auto;
  }
}
@media (max-width: 1108px) {
  .about .about-content .left img {
    height: 400px;
    width: 350px;
  }
  .contact {
    padding: 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-info {
    margin-bottom: 40px;
  }
  .contact-container .contact-info,
  .contact-form {
    width: 80%;
  }
}
@media (max-width: 957px) {
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
  .about .about-title {
    text-align: center;
    font-family: var(--Poppins);
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 100%;
    padding: 2rem;
  }
  @media (max-width: 745px) {
    .max-width {
      max-width: 1300px;
      padding: 0 40px;
      margin: auto;
    }
    .about .about-title {
      text-align: center;
      font-family: var(--Poppins);
      padding-bottom: 20px;
      margin-bottom: 30px;
      width: 100%;
      padding: 0rem;
    }
  }
}
/*-----x-----View Port-----x-------*/
